<%= nested_form_for(@shipment) do |f| %>
  <% if @shipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>

      <ul>
      <% @shipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

  </div>
  <%= f.label :delivery_date %><br>
  <%= f.date_select :delivery_date %><br>

  <%= f.fields_for :products do |product_f| %>
    <%= product_f.label :description %><br>
    <%= product_f.text_area :description %><br>

    <%= product_f.label :value %><br>
    <%= product_f.text_field :value %><br>

    <%= product_f.link_to_remove "Remove this product" %>
  <% end %>

  <p><%= f.link_to_add "Add a product", :products %></p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
