<p id="notice"><%= notice %></p>

<p>
  <strong>Delivery date:</strong>
  <%= @shipment.delivery_date %>
</p>

<p>
  <strong>Storage number:</strong>
  <%= @shipment.storage_number %>
</p>

<p>
  <strong>Products:</strong>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <% @shipment.products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td><%= product.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>


<%= link_to 'Edit', edit_shipment_path(@shipment) %> |
<%= link_to 'Back', shipments_path %>
